Email: tafrew97@gmail.com
<br> 
Phone: 021 130 4490
<br> 
Facebook: <a href='https://www.facebook.com/tim.frew.12'> Tim Frew </a>
<br>
Github: <a href='https://github.com/TAFrew'> TAFrew </a>
<br>
LinkedIn <a href='https://www.linkedin.com/in/tafrew/'> Tim Frew </a>