<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome!</h2>
  <p>My name is Tim, and I am a Software Engineering student in my third year of study at the University of Auckland. This website will tell you a bit about me, and displays some of my personal work. It also contains my contact details should you wish to get in touch.</p>
</div>